ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFC814;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 40px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #ffffff;
}

body {
  background-color: #FFECD7;
}

.leftbutton {
  align-items: right;
  justify-content: right;
}